.searchContainer
{
    background-color: rgb(240, 240, 240);
    display: inline-block;
    /* height: 30vh; */
    width: 50vw;
    padding: 2vw 2vw;

    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);

    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    text-align: center;
    overflow: hidden;
}
textarea
{
    resize: none;
    height: 70%;
    min-height: 150px;
    width: 100%;
}
.button
{
    width: 100%;
    height: 3vw;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 2vw;
    color:white;

    background-color: grey;
    
    border-radius: 5px;
}
.button:visited
{
    color: white;
}

.button:hover
{
    background-color: silver;
}